<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>My Account</title>
    <link rel="stylesheet" href="../static/css/myaccount.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body  style="background-color:#eee;">
    <div id="app">
        <navigation-component></navigation-component>
        <myaccount-component></myaccount-component>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/myaccount.css">
    <script type="text/javascript" src="..//static/js/app.js"></script>

    <script>
        document.getElementById("change_pro_pic").onclick = function(){
            console.log(document.getElementById("my_file").value);
            console.log("Clicked Change");
            document.getElementById("my_file").click();
        }
        document.getElementById("my_file").onchange = function(){
            console.log("Submitted Form");
            document.getElementById("form_pro_pic").submit();
        }
        // This below element is not found don't know why
        // document.getElementById("remove_pic_id").onclick = function(){
        //     console.log("Submitted Form for delete");
        //     document.getElementById("delete_pic_form").submit();
        // }
        function remove_pc() {
            console.log("Submitted Form for delete");
            document.getElementById("delete_pic_form").submit();
        }
    </script>

</body>
</html>