.box {
    width: fit-content;
    position: relative;
    border: 1px black solid;
 }
.card-img-top{
    width: 100%;
    display: block;
}
.text_over_dp{
  opacity: 0;
  position: absolute;
  top: 50%;
  width: fit-content;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  text-align: center;
  color: red;
  border: 1px black solid;
}

#profile_pic:hover{
    opacity: 0.4;
}
#my_file {
    visibility: hidden;
}


.list-group-item{
    text-align: center;
}
.list-group-item{
    cursor: pointer;
}
.change_pic{
    color: blue;
    font-weight: bold;
}

.change_pic:hover {
    color: blue;
    font-weight: bold;
}

.remove_pic{
    color: red;
    font-weight: bold;
}

.remove_pic:hover {
    color: red;
    font-weight: bold;
}